.ExperienceBar {
    display: flex;
    align-items: center;
}

.ExperienceBar span {
   font-size: 1rem;
}

.ExperienceBar > div {
    flex:1;
    height: 4px;
    border-radius:4px ;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}
.ExperienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}
.ExperienceBar > div span.CurrentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}